*/bin/
*.zip

linux/zip-build/
linux/deb/usr/bin/gng
linux/deb/usr/share/icons/hicolor/128x128/apps/gng.png
*.deb

wiiu/build/
wiiu/gng.elf
wiiu/gng.rpx
wiiu/gng.wuhb
wiiu/gng-channel/
wiiu/channel/code/gng.rpx

assets/*.h