*/bin/
*/tmp/
*/node_modules/
*.zip

*.deb
*.rpm

wiiu/build/
wiiu/gng.elf
wiiu/gng.rpx
wiiu/gng.wuhb
wiiu/meta/meta.xml

assets/*.h

android/android
android/icons

*.old

switch/switch.*
switch/build/
